body {
    background: #F7F6FB;
    min-height: 100vh;
    color: #333;
}

h1, h2 {
    color: #4723D9;
}

.lead {
    color: #666;
}

.btn-primary {
    background-color: #4723D9;
    border-color: #4723D9;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #333;
    border-color: #333;
}

.card-title {
    color: #4723D9;
}

.card-text {
    color: #666;
}

.text-primary {
    color: #4723D9 !important;
}

.text-muted {
    color: #666 !important;
}



.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.img-thumbnail {
    border: none;
    border-radius: 50%;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
